<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index - Vitamin-D core</title>
</head>

<body>
    <h1></h1>
<!--
__     ___ _                  _             ____      ____
\ \   / (_) |_ __ _ _ __ ___ (_)_ __       |  _ \    / ___|___  _ __ ___         
 \ \ / /| | __/ _` | '_ ` _ \| | '_ \ _____| | | |  | |   / _ \| '__/ _ \
  \ V / | | || (_| | | | | | | | | | |_____| |_| |  | |__| (_) | | |  __/
   \_/  |_|\__\__,_|_| |_| |_|_|_| |_|     |____/    \____\___/|_|  \___|
-->
    <p style="font-family:'Lucida Console', monospace">__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____<br>\&nbsp;\&nbsp;&nbsp;&nbsp;/&nbsp;(_)&nbsp;|_&nbsp;__&nbsp;_&nbsp;_&nbsp;__&nbsp;___&nbsp;(_)_&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;_&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;___|___&nbsp;&nbsp;_&nbsp;__&nbsp;___&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;\&nbsp;\&nbsp;/&nbsp;/|&nbsp;|&nbsp;__/&nbsp;_`&nbsp;|&nbsp;'_&nbsp;`&nbsp;_&nbsp;\|&nbsp;|&nbsp;'_&nbsp;\&nbsp;_____|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;&nbsp;/&nbsp;_&nbsp;\|&nbsp;'__/&nbsp;_&nbsp;\<br>&nbsp;&nbsp;\&nbsp;V&nbsp;/&nbsp;|&nbsp;|&nbsp;||&nbsp;(_|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|_____|&nbsp;|_|&nbsp;|&nbsp;&nbsp;|&nbsp;|__|&nbsp;(_)&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;__/<br>&nbsp;&nbsp;&nbsp;\_/&nbsp;&nbsp;|_|\__\__,_|_|&nbsp;|_|&nbsp;|_|_|_|&nbsp;|_|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|____/&nbsp;&nbsp;&nbsp;&nbsp;\____\___/|_|&nbsp;&nbsp;\___|</p>
    <ul>
        <li><a href="http://vitamind.ml/api.html">API Documentation</a></li>
    <ul>
</body>

</html>
