<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index - Vitamin-D core</title>
</head>

<body>
    <h1></h1>
    <p style="font-family:'Lucida Console', monospace">
    __&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____<br>
    \&nbsp;\&nbsp;&nbsp;&nbsp;/&nbsp;(_)&nbsp;|_&nbsp;__&nbsp;_&nbsp;_&nbsp;__&nbsp;___&nbsp;(_)_&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;_&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;___|___&nbsp;&nbsp;_&nbsp;__&nbsp;___&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
    &nbsp;\&nbsp;\&nbsp;/&nbsp;/|&nbsp;|&nbsp;__/&nbsp;_`&nbsp;|&nbsp;'_&nbsp;`&nbsp;_&nbsp;\|&nbsp;|&nbsp;'_&nbsp;\&nbsp;_____|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;&nbsp;/&nbsp;_&nbsp;\|&nbsp;'__/&nbsp;_&nbsp;\<br>
    &nbsp;&nbsp;\&nbsp;V&nbsp;/&nbsp;|&nbsp;|&nbsp;||&nbsp;(_|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;|_____|&nbsp;|_|&nbsp;|&nbsp;&nbsp;|&nbsp;|__|&nbsp;(_)&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;__/<br>
    &nbsp;&nbsp;&nbsp;\_/&nbsp;&nbsp;|_|\__\__,_|_|&nbsp;|_|&nbsp;|_|_|_|&nbsp;|_|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|____/&nbsp;&nbsp;&nbsp;&nbsp;\____\___/|_|&nbsp;&nbsp;\___|<br>
    </p> 
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>
    <h4>Users:</h4>
    <ul>
    <% api_response.data.forEach(function(user) { %>
        <li><%= user.name %></li>
    <% }); %>
    </ul>
</body>

</html>
